.team {
  width: 100%;
  background-color: var(--item-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team__list {
  display: block;
  margin-bottom: -30px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
  }
}
.team__card {
  background-color: var(--title-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    width: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    flex-wrap: nowrap;
  }
}
.team__photo {
  display: block;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.team__item {
  justify-content: center;
  padding: 30px;
}
.team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 15px;
}
