.btn {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: var(--accent-color);
}
